@font-face {
  font-family: arcade;
  src: url("fonts/PublicPixel-z84yD.ttf");
}

@font-face {
  font-family: schoolbook;
  src: url("fonts/C059-Roman.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: opacity 1s;
}

:root {
  font-size: 16px;
  --main-color: darkslategray;
  --secondary-color: rgb(87, 131, 131);
  --marker-color: #525252;
  --x-color: red;
  --o-color: green;
}

body {
  background-color: moccasin;
  min-height: 100vh;
  overflow: hidden;
}

.gameTitleContainer {
  font-family: schoolbook;
  font-style: italic;
  font-size: 3rem;
  color: var(--main-color);
  padding-top: 200px;
  text-align: center;

  /* Create smooth 'transition to the top of the screen' effect */
  transition: padding-top 1s, font-size 1s;
}

.gameTitleContainer h1 {
  margin: auto;
  width: 600px;
  /* border-bottom: 1px solid black; */
}

.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.startContainer button {
  font-family: arcade;
  font-size: 2rem;
  color: darkslategray;
  background-color: moccasin;
  padding: 2rem;
  width: 500px;
  border-radius: 5px;
}

button:active {
  transform: translateY(3px);
}

.selectMarker {
  font-family: arcade;
  opacity: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectMarker h2 {
  color: var(--secondary-color);
}

.selectMarker i {
  font-size: 5rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: opacity 0s;
}

.fa-x {
  color: var(--x-color);
}

.fa-circle {
  color: var(--o-color);
}

.selectMarker i:hover {
  opacity: 0.75;
}

.markers {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardContainer {
  height: 500px;
  display: none;
  justify-content: center;
  align-items: center;
}

.board-table {
  font-size: 4rem;
}

/* Styling the table to look like how it's supposed to */

td {
  cursor: pointer;
  width: 150px;
  height: 150px;
  text-align: center;
}

td:hover {
  background: rgb(238, 213, 169);
}

table,
td {
  border: none;
  border-collapse: collapse;
}

table td {
  border: 3px solid black;
}

table tr:first-child td {
  border-top: none;
}

table tr td:first-child {
  border-left: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:last-child {
  border-right: none;
}

.activePlayerContainer {
  height: 150px;
  width: 600px;
  font-size: 2rem;
  display: none;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.activePlayerContainer p:not(.active) {
  opacity: 0.5;
  color: rgb(139, 126, 126);
}

.activePlayerContainer p {
  transition: opacity 0s, font-size 0.3s;
}

.active {
  opacity: 1;
  font-size: 3rem;
  font-weight: bold;
}

.endgameContainer {
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endgameContainer h1 {
  color: darkslategrey;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.endgameButtons button {
  font-size: 2rem;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.replayBtn {
  background-color: rgb(10, 110, 60);
  color: #fff;
}

.exitBtn {
  background-color: crimson;
  color: #fff;
}

.hidden {
  display: none;
}

.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
